<%inherit file="/base.html"/>\
<%def name="content()">
<br><br><br>
<h2>Демо главной страниы проекта (django + mako)</h2>
<br><br><br>
<h4 style="color: Red">${ error }</h4>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
        % for field in items:
           ${ field }
        <br>
        % endfor
        <input type="submit" value="Send">
    </form>

<div id="text"></div>
<div id="image"></div>
</%def>